<div class="row">
  <% @courses.each do |course| %>
    <%= link_to course do %>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-black waves-light">
            <%= image_tag course.image.url %>
          </div>
          <div class="card-content">
            <span class="card-title grey-title text-darken-4">
              <%= course.title %>
            </span>
            <span>Rating: <div class="review_star" data-score="<%= course.average_rating %>"></div> <br/> <%= pluralize( course.reviews.count, "Review") %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
